@page
@using FoodDiary.Models.Enums
@model Register
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Create a new account.</h4>
<hr/>
<div class="row">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Height[cm]</label>
                <input asp-for="Input.Height" class="form-control" />
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Weight[kg]</label>
                <input asp-for="Input.Weight" class="form-control" />
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Gender</label>
                <br />
                @Html.RadioButtonFor(m => m.Input.Gender, (int)Gender.Male) Man

                @Html.RadioButtonFor(m => m.Input.Gender, (int)Gender.Female) Woman
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><a class="hasTooltip">Activities <span>Low - Sitting work and zero training <br> Medium - Sitting work and 1h training 1-3 times a week <br> High - Phisical work and 1h training 5 times a week</span></a></label>
                <br />
                @Html.RadioButtonFor(m => m.Input.Activities, 1.2) Low
                @Html.RadioButtonFor(m => m.Input.Activities, 1.5) Medium
                @Html.RadioButtonFor(m => m.Input.Activities, 1.8) High
                <span asp-validation-for="Input.Activities" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
        </form>
    </div>
</div>

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial"/> *@
@* } *@