@page
@model YourTarget

@{
    ViewData["Title"] = "YourTarget!";


}


<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <br />
            <hr />
            <div>
              

            </div>


            <button type="submit" class="btn btn-primary">Show</button>

        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>


            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {

                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>

                }
            }
        </section>
    </div>
</div>

@section Scripts {


}