@model FoodDiary.Controllers.DiaryViewModel

@{
    ViewData["Title"] = "Diary";
}

<h1>@ViewData["Title"]</h1>
<br/>
<p>
<a class="btn btn-dark" asp-controller="Products" asp-action="Index" asp-route-diaryId="@Model.DiaryId" asp-route-pr="">Add product to diary</a>
<br/>
<div class="mb-3">
    <form asp-action="Index" method="get" asp-route-startDate="startDate" asp-route-endDate="endDate">
        <div class="input-group mb-3">
            <input type="date" asp-for="StartDate" class="form-control">
            <input type="date" asp-for="EndDate" class="form-control">
            <button class="btn btn-dark">Search</button>
        </div>
    </form>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Product name</th>
        <th>Weight</th>
        <th>Kcal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Diary)
    {
        <tr>
            <td class="table-active font-weight-bold text-left">@item.ProductName</td>
            <td class="text-center">@item.Weight&nbsp g</td>
            <td class="text-center">@item.Kcal</td>
        </tr>
    }
    </tbody>
</table>