@model FoodDiary.Controllers.PersonalDetailsController.UserDetailsEntities_view

@{ ViewData["Title"] = "Personal Details"; }

<h1>Personal Details</h1>
<br>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th><a class="hasTooltip">BMI<span>Body mass index (BMI) is a value derived from the mass (weight) and height of a person</span></a></th>
        <th><a class="hasTooltip">BMR<span>Basal metabolic rate (BMR) is the rate of energy expenditure per unit time</span></a></th>
        <th>Weight</th>
        <th>Height</th>
    </tr>
    </thead>
    <tr>
        <td>@Model.appUser.FirstName.ToUpper()</td>
        <td>@Model.appUser.LastName.ToUpper()</td>
        <td class="text-center">@Model.userDetailsEntity.Bmi.ToString("0.00")</td>
        <td class="text-center">@Model.userDetailsEntity.Bmr.ToString("0.0" + " kcal")</td>
        <td class="text-center">@Model.userDetailsEntity.Weight&nbsp kg</td>
        <td class="text-center">@Model.userDetailsEntity.Height&nbsp cm</td>

    </tr>
</table>
