@page
@model CalculatorBMI


@{
    ViewData["Title"] = "CalculatorBMI";
    ViewData["ActivePage"] = ManageNavPages.CalculatorBMI;
}


<h1>@ViewData["Title"]</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <br />
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input"></label>
                <input asp-for="Input.Age" class="form-control" />
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Height[cm]</label>
                <input asp-for="Input.Height" class="form-control" />
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Weight[kg]</label>
                <input asp-for="Input.Weight" class="form-control" />
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Gender</label>
                <br />
                @Html.RadioButtonFor(m => m.Input.Gender, "Man")Man
                @Html.RadioButtonFor(m => m.Input.Gender, "Woman")Woman
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Activities</label>
                <br />

                @Html.RadioButtonFor(m => m.Input.Activities, 1.2)<label data-toggle="tooltip" title="Low Activities">Low</label>
                @Html.RadioButtonFor(m => m.Input.Activities, 1.5)<label data-toggle="tooltip" title="Medium Activities">Medium</label>
                @Html.RadioButtonFor(m => m.Input.Activities, 1.8)<label data-toggle="tooltip" title="Hight Activities">Hight</label>
                <span asp-validation-for="Input.Activities" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Show</button>

        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Info</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            @Html.ValueFor(v => v.Input.ShowBMI)
                            <br />
                            @Html.ValueFor(v => v.Input.ShowBMR)

                        </p>

                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>

                }
            }
        </section>
    </div>
</div>

@section Scripts {


}
